.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding : 20px;
    margin: 20px;
    border-radius: 30px;
    width: 30%;
    margin-top: 15rem;
    text-align: center;
  }

  .card h2 {
    color: green;
  }

  .card label {
    margin: 5px;
  }

  .card textarea {
    margin: 5px;
    border-color: green;
  }

  .card input {
    margin: 5px;
    border-color: green;
  }

  .card button {
    background-color: green;
  }

  .card button:disabled {
    background-color: grey;
  }

  .card select {
    background-color: white;
  }