.appointments {
    position: relative;
    width:70%;
    margin: auto;
    margin-top: 10%;
}

table {
    width: 100%;
    
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: lightgray;
}
